In [2]:
import pandas as pd
df=pd.read_csv ("/Users/rachelp/Documents/OSHA_all_with_geocodes.csv")

In [3]:
df.head()

,date_of_incident,city,state,cause,inspection_number,citation,Latitude,Longitude
0,11/21/2022,Tampa,FL,Raymond Cruz (52) died in fall from roof.,1635218,No,27.964157,-82.452606
1,9/27/2022,Lincoln,IL,David Freligh (50) fatally struck by forklift.,1616982,No,40.162779,-89.398361
2,9/16/2022,Seminole,OK,Teresa Estrada (53) died in fall from roof.,1622790,Yes,35.162228,-96.609139
3,9/10/2022,Athens,TX,Larry Blank (69) fatally crushed by forklift b...,1621602,No,32.188097,-95.882391
4,9/8/2022,Columbus,OH,Cole Greenland (20) drowned in retention pond.,1620746,No,40.100924,-83.013402

In [4]:
df['struck'] = df.cause.str.extract(r'(\bstruck\b)', expand=False)

In [5]:
df['fall'] = df.cause.str.extract(r'(\bfall\b)', expand=False)

In [6]:
df['shot']= df.cause.str.extract(r'(\bshot\b)', expand=False)

In [7]:
df['stabbed']= df.cause.str.extract(r'(\bstab\w*\b)', expand=False)

In [8]:
df['crushed'] = df.cause.str.extract(r'(\bcrush\w*\b)', expand=False)
df['electrocuted']=df.cause.str.extract(r'(\belectrocute\w*\b)', expand=False)
df['heat']=df.cause.str.extract(r'(\bheat\b)', expand=False)

In [9]:
pd.options.display.max_colwidth = None

In [10]:
df

,date_of_incident,city,state,cause,inspection_number,citation,Latitude,Longitude,struck,fall,shot,stabbed,crushed,electrocuted,heat
0,11/21/2022,Tampa,FL,Raymond Cruz (52) died in fall from roof.,1635218,No,27.964157,-82.452606,NaN,fall,NaN,NaN,NaN,NaN,NaN
1,9/27/2022,Lincoln,IL,David Freligh (50) fatally struck by forklift.,1616982,No,40.162779,-89.398361,struck,NaN,NaN,NaN,NaN,NaN,NaN
2,9/16/2022,Seminole,OK,Teresa Estrada (53) died in fall from roof.,1622790,Yes,35.162228,-96.609139,NaN,fall,NaN,NaN,NaN,NaN,NaN
3,9/10/2022,Athens,TX,Larry Blank (69) fatally crushed by forklift boom.,1621602,No,32.188097,-95.882391,NaN,NaN,NaN,NaN,crushed,NaN,NaN
4,9/8/2022,Columbus,OH,Cole Greenland (20) drowned in retention pond.,1620746,No,40.100924,-83.013402,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6442,1/3/2017,Cut and Shoot,TX,Worker died in fall from tree.,1200354,No,30.333265,-95.357994,NaN,fall,NaN,NaN,NaN,NaN,NaN
6443,1/3/2017,Glendale,KY,Worker fatally stabbed by resident.,1200926,Yes,37.601730,-85.905520,NaN,NaN,NaN,stabbed,NaN,NaN,NaN
6444,1/3/2017,La Verkin,UT,Worker died after being struck by excavator counterweight.,1201140,No,37.201090,-113.269670,struck,NaN,NaN,NaN,NaN,NaN,NaN
6445,1/3/2017,Mount Pleasant,TX,Worker died after being struck by tanker truck.,1202375,Yes,33.221010,-94.984645,struck,NaN,NaN,NaN,NaN,NaN,NaN
6446,1/2/2017,Shakopee,MN,Worker died in fall inside grain tank.,1200640,Yes,44.798610,-93.519440,NaN,fall,NaN,NaN,NaN,NaN,NaN

In [11]:
df.date_of_incident = pd.to_datetime(df.date_of_incident)

In [12]:
df.dtypes

date_of_incident     datetime64[ns]
city                         object
state                        object
cause                        object
inspection_number            object
citation                     object
Latitude                    float64
Longitude                   float64
struck                       object
fall                         object
shot                         object
stabbed                      object
crushed                      object
electrocuted                 object
heat                         object
dtype: object

In [13]:
df['year'] = df.date_of_incident.dt.year

In [14]:
df.year.value_counts()

#plot this on datawrapper

2019    1399
2018    1273
2017    1261
2020    1238
2021     970
2022     306
Name: year, dtype: int64

In [15]:
df.struck.value_counts()

struck    1584
Name: struck, dtype: int64

In [16]:
df.fall.value_counts()

fall    1730
Name: fall, dtype: int64

In [17]:
df.shot.value_counts()

shot    133
Name: shot, dtype: int64

In [18]:
df.stabbed.value_counts()

stabbed       22
stabilizer     3
Name: stabbed, dtype: int64

In [19]:
df.crushed.value_counts()

crushed     1028
crusher        2
crushws        1
crushing       1
Name: crushed, dtype: int64

In [20]:
df.electrocuted.value_counts()

electrocuted    474
Name: electrocuted, dtype: int64

In [21]:
df.heat.value_counts()

#plot the deaths in datawrapper

heat    113
Name: heat, dtype: int64